<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")@*-3.3.7*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/Swiper-min")

    @RenderSection("csses", required: false)
    @RenderSection("scriptsHead", required: false)

    @Scripts.Render("~/bundles/jquery")

    @*字体适配不同屏幕大小*@
    <script src="~/Scripts/Site/fontadapt.js"></script>
</head>
<body>

    @Html.Partial("_LayoutHead")

    <div class="" id="render-body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")@*-3.3.7*@
    @Scripts.Render("~/bundles/Swiper-min")
    @RenderSection("scripts", required: false)
</body>
</html>
