
@{
    //ViewBag.NameFrom += "给您拜年！";//"祝您和家人春节快乐，阖家欢乐";
    ViewBag.Blessing = ViewBag.NameFrom + "给您拜年！";//"祝您和家人春节快乐，阖家欢乐";
    ViewBag.Title = ViewBag.Blessing;

    if(string.IsNullOrWhiteSpace(ViewBag.NameTo))
    {
        ViewBag.NameWish = "祝您：";
    }
    else
    {
        ViewBag.NameWish = "祝" + ViewBag.NameTo + "：";
    }

    // 默认背景音乐为恭喜发财
    if (string.IsNullOrWhiteSpace(ViewBag.bgm))
    {
        ViewBag.bgm = "恭喜发财-刘德华.mp3";
    }

    // 如果没有后缀名则默认为mp3格式
    if (!ViewBag.bgm.Contains("."))
    {
        ViewBag.bgm = ViewBag.bgm + ".mp3";
    }
}

@section head {
    <meta name="description" content="description-拜年啦！">
    <link rel="icon" href="~/Images/Icons/Spring/firecracker 16x16.ico" type="img/x-icon">
}

@section csses {
    <style>
        /*div, p {
            color:#ffc107;
        }*/
        .swiper-pagination-bullet-active {
            background:#ccc;
        }

        .swiper-slide {
            overflow: hidden;
        }

        .scroll-wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            /*overflow: hidden;*/
            width: 100%;
            height: 100%;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

        .page-content {
            width:100%;
        }

        .page-content, .scroll-wrapper {
            position: relative;
        }

        @@-webkit-keyframes zoomSmallLeave {
            0% {
                opacity: 1;
            }

            50% {
                -webkit-transform: scale3d(.3,.3,.3);
                transform: scale3d(.3,.3,.3);
                opacity: 0;
            }

            to {
                -webkit-transform: none;
                transform: none;
                opacity: 0;
            }
        }

        @@keyframes zoomSmallLeave {
            0% {
                opacity: 1;
            }

            50% {
                -webkit-transform: scale3d(.3,.3,.3);
                transform: scale3d(.3,.3,.3);
                opacity: 0;
            }

            to {
                -webkit-transform: none;
                transform: none;
                opacity: 0;
            }
        }

        .zoomSmallLeave {
            -webkit-animation-name: zoomSmallLeave;
            animation-name: zoomSmallLeave;
        }

        .bounceOut {
            -webkit-animation-name: bounceOut;
            animation-name: bounceOut;
        }

        @@-webkit-keyframes bounceOut {
            0%,20%,40%,60%,80%,to {
                -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
                transition-timing-function: cubic-bezier(.215,.61,.355,1);
            }

            0% {
                -webkit-transform: scale3d(.3,.3,.3);
                transform: scale3d(.3,.3,.3);
                opacity: 0;
            }

            30% {
                -webkit-transform: scale3d(1.5,1.5,1.5);
                transform: scale3d(1.5,1.5,1.5);
            }

            40% {
                -webkit-transform: scale3d(.9,.9,.9);
                transform: scale3d(.9,.9,.9);
            }

            60% {
                -webkit-transform: scale3d(1.03,1.03,1.03);
                transform: scale3d(1.03,1.03,1.03);
                opacity: 1;
            }

            80% {
                -webkit-transform: scale3d(.97,.97,.97);
                transform: scale3d(.97,.97,.97);
            }

            to {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                opacity: 1;
            }
        }

        @@keyframes bounceOut {
            0%,20%,40%,60%,80%,to {
                -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
                transition-timing-function: cubic-bezier(.215,.61,.355,1);
            }

            0% {
                -webkit-transform: scale3d(.3,.3,.3);
                transform: scale3d(.3,.3,.3);
                opacity: 0;
            }

            30% {
                -webkit-transform: scale3d(1.5,1.5,1.5);
                transform: scale3d(1.5,1.5,1.5);
            }

            40% {
                -webkit-transform: scale3d(.9,.9,.9);
                transform: scale3d(.9,.9,.9);
            }

            60% {
                -webkit-transform: scale3d(1.03,1.03,1.03);
                transform: scale3d(1.03,1.03,1.03);
                opacity: 1;
            }

            80% {
                -webkit-transform: scale3d(.97,.97,.97);
                transform: scale3d(.97,.97,.97);
            }

            to {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                opacity: 1;
            }
        }

        .switch-guide {
            position: absolute;
            z-index: 10;
            right: 0;
            bottom: .1rem;
            left: 0;
            width: .2rem;
            margin: 0 auto;
            -webkit-animation: webSwipeTipAfter 1.5s infinite ease-in-out;
            animation: webSwipeTipAfter 1.5s infinite ease-in-out;
        }

        @@-webkit-keyframes webSwipeTipAfter {
            0% {
                opacity: 1;
            }

            to {
                -webkit-transform: translate3d(0,-100%,0);
                transform: translate3d(0,-100%,0);
                opacity: 0;
            }
        }

        @@keyframes webSwipeTipAfter {
            0% {
                opacity: 1;
            }

            to {
                -webkit-transform: translate3d(0,-100%,0);
                transform: translate3d(0,-100%,0);
                opacity: 0;
            }
        }

        .component-audio {
            position: absolute;
            left: 3.4rem;
            top: .2rem;
            width: .4rem;
            height: .4rem;
            z-index: 200;
        }

        .component-audio-play {
            width:inherit;
            height:inherit;
            display: block;
            background-image: url(/Images/component/audio-off.jpg);
            -moz-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
        }

        .component-audio-pause {
            width:inherit;
            height:inherit;
            display: none;
            background-image: url(/Images/component/audio-on.jpg);
            background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            -webkit-animation:rotate2d 1s linear infinite;
            animation:rotate2d 1s linear infinite;
        }

        .component-audio-contorl {
            width:inherit;
            height:inherit;
            -moz-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
        }

        .component-audio .pause {
            background-image: url(/Images/component/audio-off.jpg);
        }

        .component-audio .play {
            background-image: url(/Images/component/audio-on.jpg);
            -webkit-animation:rotate2d 1s linear infinite;
            animation:rotate2d 1s linear infinite;
        }
    </style>
}

@section scriptHead {
    @*<script>
        var aniArr = new Array();
    </script>*@

    <script nonce>
        var msg_desc = "描述-拜年啦！";
    </script>
}

<div class="swiper-container" id="main" style="display:none;">
    <div class="component-audio" onclick="bgmToggle()">
        @*<div id="play" class="component-audio-play"></div>
        <div id="pause" class="component-audio-pause"></div>*@
        <div id="audio-contorl" class="component-audio-contorl play"></div>
    </div>

    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="scroll-wrapper">
                @*这个DIV起到让page-content居中的作用，不能删*@
                <div class="e-page-bg-image">
                    <img src="~/Areas/H5/Images/Festival/Spring/Y2019/红底.@WorkContext.WebpSuffix" style="width: 100%; height: 100%; object-fit: cover;" />
                </div>
                <div class="page-content">
                    <div class="cmp cmp-image" data-type="image" style="width: 4.46rem; height: 1.55rem; top: 5.3rem; left: -0.26rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration=".3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/花纹.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154711290955856" data-type="image" style="width: 6.5rem; height: 6.5rem; top: -0.3rem; left: -1.3rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="translate" swiper-animate-duration=".7s" swiper-animate-delay="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/菱形.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154711290955857" data-type="image" style="width: 5.8rem; height: 5.8rem; top: .08rem; left: -0.95rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="translateReverse" swiper-animate-duration=".5s" swiper-animate-delay=".3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/菱形边框.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154717286653431" data-type="image" style="width: 3.5rem; height: 2.1rem; top: -0.9rem; left: 0.3rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="rotateIn" swiper-animate-duration=".5s" swiper-animate-delay=".3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/扇子.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154717281281629" data-type="image" style="width:1.41rem; height:2.35rem; top: -0.45rem; left: -0.1rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="rotateInDownRight" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="swing" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/小左灯笼.@WorkContext.WebpSuffix">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/小左福.@WorkContext.WebpSuffix" style="height:0.3rem;width:0.3rem;left:.56rem;top:.86rem;">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154717284881630" data-type="image" style="width:1.41rem; height:2.35rem; top: -0.45rem; left:2.7rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="rotateInDownLeft" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="swing" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/小右灯笼.@WorkContext.WebpSuffix">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/小右福.@WorkContext.WebpSuffix" style="height:0.3rem;width:0.3rem;left:.56rem;top:.86rem;">
                        </div>
                    </div>

                    <div class="cmp cmp-text" data-id="154717284881631" data-type="image" style="top:.45rem; left:1.54rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="zoomIn" swiper-animate-duration-1=".5s" swiper-animate-delay-1="1.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <div class="text" data-page-idx="0" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(247, 219, 146); font-size:.27rem; font-family: FZZYJW_1186165859; font-style: normal; font-weight: normal; text-align: center; text-decoration: none; line-height: 34px; letter-spacing: 9px; border-radius: 0px; background-color: transparent;">
                                2019
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154717290214332" data-type="image" style="width:4.0rem; height:1.3rem; top:4.5rem; left:0rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration=".5s" swiper-animate-delay="1.3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/底部横幅.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154717460564370" data-type="image" style="width: 2.44rem; height: 1.39rem; top: 2.8rem; left: 0.92rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3"
                             swiper-animate-effect-1="emptyAniHide" swiper-animate-duration-1="1.5s" swiper-animate-delay-1="0s"
                             swiper-animate-effect-2="zoomIn" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="zoomSmallLeave" swiper-animate-duration-3=".5s" swiper-animate-delay-3=".3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/黑意.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154717460564371" data-type="image" style="width: 1.53rem; height: 1.3rem; top: 2.5rem; left: 0.45rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3"
                             swiper-animate-effect-1="emptyAniHide" swiper-animate-duration-1="1.1s" swiper-animate-delay-1="0s"
                             swiper-animate-effect-2="zoomIn" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="zoomSmallLeave" swiper-animate-duration-3=".5s" swiper-animate-delay-3=".3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/黑春.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154717460564372" data-type="image" style="width: 0.97rem; height: 0.9rem; top: 1.7rem; left: 2.3rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3"
                             swiper-animate-effect-1="emptyAniHide" swiper-animate-duration-1="1.3s" swiper-animate-delay-1="0s"
                             swiper-animate-effect-2="zoomIn" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="zoomSmallLeave" swiper-animate-duration-3=".5s" swiper-animate-delay-3=".3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/黑如.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154717460564473" data-type="image" style="width: 1.24rem; height: 1.41rem; top: 1.13rem; left: 0.72rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3"
                             swiper-animate-effect-1="emptyAniHide" swiper-animate-duration-1="0.9s" swiper-animate-delay-1="0s"
                             swiper-animate-effect-2="zoomIn" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="zoomSmallLeave" swiper-animate-duration-3=".5s" swiper-animate-delay-3=".3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/黑新.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547177587865106" data-type="image" style="width:1.2rem; height: 1.42rem; top: 1.4rem; left: 1rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration=".7s" swiper-animate-delay="3.1s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/贺.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547177587865107" data-type="image" style="width: 1.3rem; height: 1.41rem; top: 2rem; left: 1.9rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration=".7s" swiper-animate-delay="3.3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/新.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547177672524109" data-type="image" style="width:0.85rem;height:0.82rem;top:2.5rem;left:0.2rem;position:absolute;">
                        <div class="ani-mul" swiper-ani-cnt="4" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="emptyAniHide" swiper-animate-duration-1="3.1s" swiper-animate-delay-1="0s"
                             swiper-animate-effect-2="zoomIn" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="fadeOut" swiper-animate-duration-3=".5s" swiper-animate-delay-3="0s"
                             swiper-animate-effect-4="emptyAniHide" swiper-animate-duration-4="1s" swiper-animate-delay-4="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/烟花.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547177680589110" data-type="image" style="width:0.85rem;height:0.82rem;top:3.6rem;left:2.6rem; position:absolute;">
                        <div class="ani-mul" swiper-ani-cnt="4" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="emptyAniHide" swiper-animate-duration-1="3.5s" swiper-animate-delay-1="0s"
                             swiper-animate-effect-2="zoomIn" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="fadeOut" swiper-animate-duration-3=".5s" swiper-animate-delay-3="0s"
                             swiper-animate-effect-4="emptyAniHide" swiper-animate-duration-4="1s" swiper-animate-delay-4="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/烟花.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154718913455433" data-type="image" style="width: 1.3rem; height: 1.3rem; top: 3rem; left: 1.1rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration=".7s" swiper-animate-delay="3.5s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/春.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154711331662667" data-type="image" style="width:inherit; height:inherit; top: 0; left:0; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeIn" swiper-animate-duration=".7s" swiper-animate-delay="3.5s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/飞扬碎屑.@WorkContext.WebpGifSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-text" data-id="154711386111870" data-type="text" style="height: .3rem;width: inherit;left: 0rem;top: 4.8rem;position: absolute;">
                        <div class="ani" swiper-animate-effect="zoomIn" swiper-animate-duration=".7s" swiper-animate-delay="3.5s">
                            <div class="text" data-page-idx="0" style="color: rgb(184, 35, 18); font-size:.3rem;text-align: center; line-height: 24px;">@ViewBag.NameFrom</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="scroll-wrapper">
                <div class="e-page-bg-image" style="opacity: 1; height: 100%;">
                    <img src="~/Areas/H5/Images/Festival/Spring/Y2019/红底.@WorkContext.WebpSuffix" style="width: 100%; height: 100%; object-fit: cover;" />
                </div>
                <div class="page-content">
                    <div class="cmp cmp-image" data-type="image" style="width: 4.46rem; height: 1.55rem; top: 5.3rem; left: -0.26rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration=".3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/花纹.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547099165302153" data-type="image" style="width:3.4rem;height:4.8rem;top:1rem;left:.3rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="translate" swiper-animate-duration=".7s" swiper-animate-delay="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/黄底.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547099165302154" data-type="image" style="width: 3.2rem; height: 4.6rem; top:1.1rem; left:.4rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="translateReverse" swiper-animate-duration=".5s" swiper-animate-delay=".3s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/红边框.@WorkContext.WebpSuffix">
                        </div>
                    </div>
                    
                    <div class="cmp cmp-image" data-id="1547099165302155" data-type="image" style="width:.5rem;height:3.5rem;top:1.5rem;left:.1rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="pullDown" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/春联侧边.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547099165302156" data-type="image" style="width:.37rem;height:3.2rem;top:1.65rem;left:0.17rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="pullDown" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/黄框.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547099165302157" data-type="image" style="width:.5rem;height:3.5rem;top:1.5rem;left:3.4rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="pullDown" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/春联侧边.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547099165303158" data-type="image" style="width:.37rem;height:3.2rem;top:1.65rem;left:3.47rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="pullDown" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/黄框.@WorkContext.WebpSuffix">
                        </div>
                    </div>
                    
                    <div class="cmp cmp-image" data-id="1547099165304159" data-type="image" style="width:1rem; height:1.66rem; top: -0.15rem; left: -0.1rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="rotateInDownRight" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="swing" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/小左灯笼.@WorkContext.WebpSuffix">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/小左福.@WorkContext.WebpSuffix" style="height:0.2rem;width:0.2rem;left:.4rem;top:.62rem;">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547099165304160" data-type="image" style="width:1rem; height:1.66rem; top: -0.15rem; left:3.1rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="rotateInDownLeft" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="swing" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/小右灯笼.@WorkContext.WebpSuffix">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/小右福.@WorkContext.WebpSuffix" style="height:0.2rem;width:0.2rem;left:.4rem;top:.62rem;">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547099165304163" data-type="image" style="width:2.3rem;height:.66rem;top:.17rem;left:.85rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="zoomIn" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/春联横批底.@WorkContext.WebpSuffix">
                        </div>
                    </div>
                    
                    <div class="cmp cmp-image" data-id="1547099165304164" data-type="image" style="width:1.9rem; height:.5rem; top:.25rem; left:1.05rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="zoomIn" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/春联横批黄框.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547099165304165" data-type="image" style="width:.5rem; height:.48rem;top:.45rem;left:.6rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="4" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="emptyAniHide" swiper-animate-duration-1="3.1s" swiper-animate-delay-1="0s"
                             swiper-animate-effect-2="zoomIn" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="fadeOut" swiper-animate-duration-3=".5s" swiper-animate-delay-3="0s"
                             swiper-animate-effect-4="emptyAniHide" swiper-animate-duration-4="1s" swiper-animate-delay-4="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/烟花.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="1547099165304166" data-type="image" style="width:.5rem; height:.48rem;top:0rem;left:2.9rem; position: absolute;">
                        <div class="ani-mul" swiper-ani-cnt="4" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="emptyAniHide" swiper-animate-duration-1="3.5s" swiper-animate-delay-1="0s"
                             swiper-animate-effect-2="zoomIn" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="fadeOut" swiper-animate-duration-3=".5s" swiper-animate-delay-3="0s"
                             swiper-animate-effect-4="emptyAniHide" swiper-animate-duration-4="1s" swiper-animate-delay-4="0s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/烟花.@WorkContext.WebpSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-image" data-id="154711102256392" data-type="image" style="width:inherit; height:inherit; top: 0; left:0; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeIn" swiper-animate-duration=".7s" swiper-animate-delay="3.5s">
                            <img class="inner-image" src="~/Areas/H5/Images/Festival/Spring/Y2019/飞扬碎屑.@WorkContext.WebpGifSuffix">
                        </div>
                    </div>

                    <div class="cmp cmp-text" data-id="1547099165304169" data-type="text" style="width:1.9rem;height:auto;left:1.05rem;top:.28rem; position:absolute; transform-origin: left top 0px;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="zoomIn" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.3rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: center; text-decoration: none;letter-spacing: 6px; border-radius: 0px; background-color: transparent;">
                                诸事大顺
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-text" data-id="1547099165304167" data-type="text" style="width: 22px; height: auto; left:.22rem; top:1.8rem; position: absolute; transform-origin: left top 0px;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="zoomIn" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                财源广进平安宅
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-text" data-id="1547099165304168" data-type="text" style="width: 22px; height: auto; left: 3.53rem; top: 1.8rem; position: absolute; transform-origin: left top 0px;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="zoomIn" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                福水长流幸福家
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-text" data-id="154711051216954" data-type="text" style="width: 207px; height: auto; left: 0.75rem; top:1.35rem; position: absolute; transform-origin: left top 0px;">
                        <div class="ani" swiper-animate-effect="fadeIn" swiper-animate-duration=".7s" swiper-animate-delay="1.1s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(184, 35, 18); color: rgb(0, 0, 0); font-size:.3rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                @ViewBag.NameWish
                            </div>
                        </div>
                    </div>

                    @*一帆风顺 两全其美 三羊开泰 四季平安 五福临门 六六大顺 七星高照 八方来财 九九归一 十全十美 百事亨通 千事吉祥  万事如意*@


                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:.8rem; top: 2rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration=".7s" swiper-animate-delay="1.3s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                一帆风顺
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:.8rem; top: 2.5rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration=".7s" swiper-animate-delay="1.4s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                两全其美
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:.8rem; top: 3rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration=".8s" swiper-animate-delay="1.5s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                三羊开泰
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:.8rem; top: 3.5rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration=".7s" swiper-animate-delay="1.6s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                四季平安
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:.8rem; top: 4rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration=".7s" swiper-animate-delay="1.7s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                五福临门
                            </div>
                        </div>
                    </div>


                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:2.15rem; top: 2rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration=".7s" swiper-animate-delay="1.8s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                六六大顺
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:2.15rem; top: 2.5rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration=".7s" swiper-animate-delay="1.9s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                七星高照
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:2.15rem; top: 3rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration=".8s" swiper-animate-delay="2.0s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                八方来财
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:2.15rem; top: 3.5rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration=".7s" swiper-animate-delay="2.1s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                九九归一
                            </div>
                        </div>
                    </div>

                    <div class="cmp cmp-image" style="width:1.3rem; height: auto; left:2.15rem; top: 4rem; position: absolute;">
                        <div class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration=".7s" swiper-animate-delay="2.2s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                十全十美
                            </div>
                        </div>
                    </div>


                    @*<div class="cmp cmp-text" data-id="1547099165304168" data-type="text" style="width:2.3rem; height: auto; left:1rem; top: 2.3rem; position: absolute; transform-origin: left top 0px;">
                        <div class="ani-mul" swiper-ani-cnt="3" swiper-ani-repeat="1" swiper-ani-repeart-ind="1"
                             swiper-animate-effect-1="zoomIn" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                             swiper-animate-effect-2="emptyAni" swiper-animate-duration-2="1s" swiper-animate-delay-2="0s"
                             swiper-animate-effect-3="pulse" swiper-animate-duration-3="2s" swiper-animate-delay-3="0s">
                            <div class="text" data-page-idx="2" style="opacity: 1; border-style: solid; border-width: 0px; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-size:.27rem; font-family:'华文行楷'; font-style: normal; font-weight: normal; text-align: left; text-decoration: none;letter-spacing: 0px; border-radius: 0px; background-color: transparent;">
                                锣鼓声声喜报多，财源滚滚钞票多，身体朗朗健康多，合家团圆亲情多；铃声叮叮问候多，包裹鼓鼓礼物多，笑声阵阵朋友多，新春送你祝福多多。
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <p>Animate.css2</p>
            <div class="el" id="restartAnim" style="top: 1.66rem; left: .74rem; position: absolute;">Animate.css222</div>
            @*<div id="restartAnim">
                    <div class="el"  style="top: 16.6rem; left: 7.4rem; position: absolute;">Animate.css222</div>
                    <div class="line player"> <button class="restart">Restart</button> </div>
                </div>*@
            <script>
                var restartAnim = anime({
                    targets: '#restartAnim',
                    //scale: 2,
                    translateX: 150,
                    elasticity: 600,
                    easing: 'easeInQuad',
                });
            </script>
            <div class="ani text-v-lgdt-btg" swiper-animate-effect="rubberBand" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
            <div class="ani text-v-lgdt-btg" style="left:100px;top:150px;z-index:3;" swiper-animate-effect="fadeOut" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
            <div class="ani text-v-lgdt-btg" style="left:100px;top:350px;z-index:3;" swiper-animate-effect="rubberBand" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
                @ViewBag.NameFrom
            </div>

            <div class="" style="box-shadow: transparent 0rem 0rem 0.1rem; border-radius: 0rem; animation-name: bounceOut; animation-iteration-count: 1; animation-delay: 0.2s; animation-duration: 1s; animation-timing-function: ease; animation-fill-mode: both; animation-play-state: running;" data-animation-actorid="actor_154711290955857">
                <div class="image" style="opacity: 1; border-style: solid; border-width: 0rem; border-color: rgb(0, 0, 0); border-radius: 0rem;">
                    dfgsdfgsgfhfgdhd
                </div>
            </div>
        </div>
        <div class="swiper-slide bg-gray-5">
            @*<div class="ani display-3 text-white" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css</div>
                <div class="ani display-3 text-danger" swiper-animate-effect="fadeOutDown" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Animate.css333</div>*@
            <div class="ani-mul text-danger" swiper-ani-cnt="3" swiper-ani-index="0" swiper-ani-repeat="0" swiper-animate-effect-1="fadeInDown" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s" swiper-animate-iteration-count-1="2"
                 swiper-animate-effect-2="shake" swiper-animate-duration-2="1s" swiper-animate-delay-2="1.3s" swiper-animate-iteration-count-2="1"
                 swiper-animate-effect-3="fadeOutDown" swiper-animate-duration-3="1s" swiper-animate-delay-3="0.3s">Animate.css</div>


            <div class="ani-mul text-v-lgdt-btg" swiper-ani-cnt="4" swiper-ani-index="0" swiper-ani-repeat="1" swiper-animate-effect-1="rollIn" swiper-animate-duration-1="1s" swiper-animate-delay-1="0.3s"
                 swiper-animate-effect-2="bounce" swiper-animate-duration-2="2s" swiper-animate-delay-2="0.3s"
                 swiper-animate-effect-3="tada" swiper-animate-duration-3="2s" swiper-animate-delay-3="0.3s"
                 swiper-animate-effect-4="hinge" swiper-animate-duration-4="2s" swiper-animate-delay-4="1.3s">
                Animate.css333
            </div>


            <div class="ani-mul text-danger" swiper-ani-cnt="3" swiper-ani-index="0" swiper-animate-effect-1="fadeInDown" swiper-animate-duration-1="1s" swiper-animate-iteration-count-1="2"
                 swiper-animate-effect-2="bounce" swiper-animate-duration-2="2s" swiper-animate-delay-2="0.3s"
                 swiper-animate-effect-3="tada" swiper-animate-duration-3="2s" swiper-animate-iteration-count-3="infinite">
                Animate.css3
            </div>
        </div>
    </div>

    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

    <img src="~/Areas/H5/Images/Festival/Spring/Y2019/switch-guide.png" class="switch-guide">

    <audio id="bgm-audio" class="component-audio-core" autoplay="autoplay" loop="">
        <source src="~/Audio/@ViewBag.bgm">
        @*http://boscdn.bpc.baidu.com/v1/legend/84bcd63e48cdbb1e094db584b0cd765d1458209258613.mp3*@
    </audio>
    <script>
        // 一半音量
        document.getElementById("bgm-audio").volume = 0.5;
    </script>
</div>


@section scripts {
    <script>
        imgArr = ['/Images/component/audio-off.jpg',
                '/Images/component/audio-on.jpg',
                '/Areas/H5/Images/Festival/Spring/Y2019/红底.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/花纹.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/菱形.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/菱形边框.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/扇子.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/小左灯笼.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/小右灯笼.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/底部横幅.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/黑意.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/黑春.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/黑如.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/黑新.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/贺.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/新.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/烟花.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/春.@WorkContext.WebpSuffix',
                '/Areas/H5/Images/Festival/Spring/Y2019/飞扬碎屑.@WorkContext.WebpGifSuffix',

                '/Areas/H5/Images/Festival/Spring/Y2019/switch-guide.png',
                '/Audio/@ViewBag.bgm'
        ];


        var mainSwiper;
        function pageInit() {
            // 显示主页面
            $('#main').fadeIn();

            // 初始化Swiper
            mainSwiper = new Swiper('#main', {
                direction: 'vertical',  // 竖向切换
                mousewheel: true,       // 鼠标滚轮

                // 如果需要分页器
                pagination: {
                    el: '.swiper-pagination',
                },

                on: {
                    init: function () {
                        swiperAnimateCache(this); //隐藏动画元素
                        swiperAnimate(this); //初始化完成开始动画

                        bindEvent();
                        swiperAnimateMulCache(this); //隐藏动画元素
                        swiperAnimateMul(this); //初始化完成开始动画
                    },
                    slideChangeTransitionStart: function () {
                        //console.log(this.activeIndex + '-00');//切换开始时，记录现在是第几个slide
                        //if (this.activeIndex == 1) {
                        //    restartAnim.seek(0);
                        //}
                        //console.log(this.activeIndex + '-0');//切换开始时，记录现在是第几个slide
                    },
                    slideChangeTransitionEnd: function () {
                        swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
                        //this.slides.eq(this.activeIndex).find('.ani').removeClass('ani'); //动画只展现一次，去除ani类名

                        swiperAnimateMul(this); //初始化完成开始动画
                        //this.slides.eq(this.activeIndex).find('.ani-mul').removeClass('ani-mul'); //动画只展现一次，去除ani-mul类名

                        //console.log(this.activeIndex + '-1');//切换结束时，记录现在是第几个slide
                        //var audio = document.getElementById('bgm-audio');
                        //console.log('audio.paused:' + audio.paused);
                        //console.log('audio.volume:' + audio.volume);

                        if (this.activeIndex == 1) { // 切换到activeIndex等于1页
                            restartAnim.restart();
                        } else {
                            restartAnim.seek(0);
                        }

                        //console.log(this.activeIndex + '-2');//切换结束时，记录现在是第几个slide
                    }
                }
            });

            var audio = document.getElementById('bgm-audio');
            console.log('audio.paused1:' + audio.paused);
            console.log('audio.canPlayType:');
            console.log(audio.canPlayType);
            //if (audio.paused) {
            audio.play();
            //}
            console.log('audio.paused2:' + audio.paused);
            if (audio.paused) {
                $('#audio-contorl').addClass("pause");
                $('#audio-contorl').removeClass("play");
            } else {
                $('#audio-contorl').addClass("play");
                $('#audio-contorl').removeClass("pause");
            }
        }

        function bgmToggle() {
            var audio = document.getElementById('bgm-audio');
            //var play = document.getElementById('play');
            //var pause = document.getElementById('pause');
            $('#audio-contorl').toggleClass("play");
            $('#audio-contorl').toggleClass("pause");
            if (audio !== null) {
                //检测播放是否已暂停.audio.paused 在播放器播放时返回false.
                //if (audio.paused) {
                if ($('#audio-contorl').hasClass("play")) {
                    audio.play();// 这个就是播放
                    //play.style.display = 'none';
                    //pause.style.display = 'block';
                } else {
                    audio.pause();// 这个就是暂停
                    //play.style.display = 'block';
                    //pause.style.display = 'none';
                }
            }
        }

        //// 初始化数组
        //for(var i=0;i<mainSwiper.length;i++){
        //    aniArr[i] = new Array();
        //}


    </script>

    @*微信开发*@

    @*<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>*@
    @*如需进一步提升服务稳定性，当上述资源不可访问时，可改访问：http://res2.wx.qq.com/open/js/jweixin-1.4.0.js （支持https）。*@

    <script>
        /*
         * 注意：
         * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
         * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
         * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
         *
         * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
         * 邮箱地址：weixin-open@qq.com
         * 邮件主题：【微信JS-SDK反馈】具体问题
         * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
         */
        @*wx.config({
            debug: true,
            appId: @WorkContext.SiteConfig.WxGzhAppId,//'wxf8b4f85f3a794e77',
            timestamp: 1548144597,
            nonceStr: 'AWDW6qI9sqoIDTmj',
            signature: '602f79ffcc1c516b0baedf260ee1dc5fb4856601',
            jsApiList: [
              'checkJsApi',
              'onMenuShareTimeline',
              'onMenuShareAppMessage',
              'onMenuShareQQ',
              'onMenuShareWeibo',
              'onMenuShareQZone'
            ]
        });

        wx.ready(function(){
            wx.updateAppMessageShareData({ 
                title: '@ViewBag.Title', // 分享标题
                desc: '描述-给您拜年', // 分享描述
                link: '@WorkContext.Url', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://hn-living.com/Images/Icons/Spring/firecracker 16x16.ico', // 分享图标
                success: function () {
                    // 设置成功
                }
            });
        });*@
    </script>
}