<!DOCTYPE html>
<html style="font-size: 5px;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    @RenderSection("head", required: false)

    @Styles.Render("~/Content/H5")
    @RenderSection("csses", required: false)
    @RenderSection("scriptHead", required: false)

    <style>
        *, p {
	        margin:0;
	        padding:0;
            font-size:.1rem;
        }

        html, body, #main, #main .swiper-slide {
	        height:100%;
        }

        .phone-text {
            font-size:.15rem;
            margin-top: .1rem;
        }

        .h5-container {
            max-width:640px;
            margin:0 auto;
            height:100%;
            position:relative;
        }

        .ani, .ani-mul{
	        position:absolute;
	    }

        .e-page-bg-image {
            top:0;
            left:0;
            width:100%;
            height:100%;
            pointer-events:none;
        }

        .e-page-bg-image, .e-page-bg-image img {
            position:absolute;
        }

        .page-content {
            position:relative;
        }

        .page-content .ani, .page-content .ani-mul {
            width:100%;
            height:100%;
        }

        .ani .inner-image, .ani-mul .inner-image {
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            outline:1px solid transparent
        }

        .qr_code_pc{
            position:fixed;
            right:20px;
            top:20px;
            width:130px;
            padding:16px;
            border:1px solid #d9dadc;
            background-color:#fff;
            word-wrap:break-word;
            word-break:break-all;
            color:#717375;
            text-align:center;
            box-sizing:border-box;
        }

        .qr_code_img{
            width:102px;
        }

        .emptyAni {
            -webkit-animation-name:emptyAni;
            animation-name:emptyAni;
        }

        @@-webkit-keyframes emptyAni {
            from {}
            to {}
        }

        @@keyframes emptyAni {
            from {}
            to {}
        }

        .emptyAniHide {
            -webkit-animation-name:emptyAniHide;
            animation-name:emptyAniHide;
        }

        @@-webkit-keyframes emptyAniHide {
            from {opacity:0}
            to {opacity:0}
        }

        @@keyframes emptyAniHide {
            from {opacity:0}
            to {opacity:0}
        }

        .loader-info {
            font-size:.4rem;
            color:lightseagreen;
        }

        .circle {
            width: .125rem;
            height: .125rem;
            background-color: #FFF;
            position: absolute;
            -moz-border-radius: 50% 50% 50% 50%;
            -webkit-border-radius: 50% 50% 50% 50%;
            border-radius: 50% 50% 50% 50%;
            -webkit-animation: scale15 0.8s infinite;
            animation: scale15 0.8s infinite;
        }

        .round-circle-1 {
            top: .119rem;
            left: .119rem;
        }

        .round-circle-2 {
            top: 0;
            left: .406rem;
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }

        .round-circle-3 {
            top: .119rem;
            left: .694rem;
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        .round-circle-4 {
            top: .406rem;
            left: .813rem;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .round-circle-5 {
            top: .694rem;
            left: .694rem;
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        .round-circle-6 {
            top: .813rem;
            left: .406rem;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

        .round-circle-7 {
            top: .694rem;
            left: .119rem;
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }

        .round-circle-8 {
            top: .406rem;
            left: 0;
            -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
        }

        .loader-progress-round {
            position: absolute;
            left: calc(50% - 0.938rem/2);
            top: calc(50% - 0.938rem/2);
            width: .938rem;
            height: .938rem;
            -ms-transform: scale(2);
            -webkit-transform: scale(2);
            transform: scale(2);
        }

        @@-webkit-keyframes scale15 {

            25% {
                -ms-transform: scale(1.5);
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
            }

            75% {
                -ms-transform: scale(0);
                -webkit-transform: scale(0);
                transform: scale(0);
            }
        }

        @@keyframes scale15 {
            50% {
                -ms-transform: scale(1.5,1.5);
                -webkit-transform: scale(1.5,1.5);
                transform: scale(1.5,1.5);
            }

            100% {
                -ms-transform: scale(1,1);
                -webkit-transform: scale(1,1);
                transform: scale(1,1);
            }
        }
    </style>

    <script src="~/Plugins/Anime/anime.min.js"></script>


    <script>
        // 获取浏览器长宽
        var h = document.documentElement.clientHeight;
        var w = document.documentElement.clientWidth;

        // 设计宽高比
        var rate = 0.7;//0.64777; // = 640 / 988; 988 = 1136 - 48 - 100 Android系统可以更改状态栏和导航栏的高度，这里可以取默认值为48px和100px（这些尺寸网上均可查）

        // 初始化
        init();

        function init() {
            // 如果浏览器高度不够，则以高度为准设置宽度
            if (w / h > rate) {
                w = h * rate;
            }

            // 宽度最大为640
            w = Math.min(w, 640);

            // 设置rem字体大小
            document.documentElement.style.fontSize = w * 160 / 640  + 'px';
        }

        // 预加载图片列表
        var imgArr = new Array();
    </script>
</head>
<body>

    <div class="h5-container" id="container">@*container body-content*@
        <div class="loader-bar scroll-wrapper bg-lgdt-ryr" id="loader">
            <div class="loader-progress-round">
                <div class="circle round-circle-1"></div>
                <div class="circle round-circle-2"></div>
                <div class="circle round-circle-3"></div>
                <div class="circle round-circle-4"></div>
                <div class="circle round-circle-5"></div>
                <div class="circle round-circle-6"></div>
                <div class="circle round-circle-7"></div>
                <div class="circle round-circle-8"></div>
            </div>

            <div id="loader-info" class="loader-info">0%</div>
        </div>

        @RenderBody()
    </div>


    <div class="qr_code_pc d-none d-lg-block" id="qr-code-warp">
        <img id="js_qr_code_img" class="qr_code_img" src="/tools/program/qrcode/GetQRCode?content=@WorkContext.Url">
        <p class="phone-text">手机查看</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/H5")
    @RenderSection("scripts", required: false)

    <script>
        // 设置
        setting();

        function setting() {
            // 设置宽度
            $("#container").css('width', w);

            // 设置高度
            $(".page-content").css('height', w / rate);
        }

        // 预加载
        //// 模拟加载慢的效果
        //var callbacks = [];
        //imgLoader(imgArr, function (percentage) {
        //    callbacks.push((function (percent, i) {
        //        return function () {
        //            setTimeout(function () {
        //                var percentT = percent * 100;
        //                $('#loader-info').html((parseInt(percentT)) + '%');
        //                if (percent == 1) {
        //                    setTimeout(function () {
        //                        $('#loader').remove();
        //                        pageInit();
        //                    }, 600);
        //                }
        //                callbacks[i + 1] && callbacks[i + 1]();
        //            }, 100);
        //        }
        //    })(percentage, callbacks.length));

        //    if (percentage == 1) {
        //        callbacks[0]();
        //    }
        //});

        //=================================================
        //* 以上代码为模拟网速慢的情况，特意对进度处理的回调做了延迟
        //* 真实环境，应该使用下面注释的代码
        //=================================================

        imgLoader(imgArr, function (percentage) {
            var percentT = percentage * 100;
            $('#loader-info').html((parseInt(percentT)) + '%');
            if (percentage == 1) {
                $('#loader').remove();
                pageInit();
            }
        });
    </script>
</body>
</html>